.linkFont{
    color: #333;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.titleFont{
    color: #333;
font-family: Montserrat;
font-size: 59.308px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.subheadingFont{
    color: #676767;
font-family: Montserrat;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.searchBarFont{
    color: #BCBABA;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}